@charset "utf-8";

 
body{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";

	margin: 0;
	background-color: black;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/225/154/non_2x/black-low-poly-geometric-background-vector.jpg");
	padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
   height: 55px;
	background-color: black;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/225/154/non_2x/black-low-poly-geometric-background-vector.jpg");
  

}
nav{
	width: 85%;
		margin: auto;
	padding: 35px 0;
	display: flex;justify-content: space-between;
    background-color: black;
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/225/154/non_2x/black-low-poly-geometric-background-vector.jpg");
		
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

nav ul li a{
	text-decoration: none;
	color: #FFFFFF;
	text-transform: uppercase;
	
	
}
nav ul li a::after{
	content: '';
	height: 1px;
	width: 0;
	background: #c49215;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
	
}
nav ul li a:hover::after{
	width: 100%;
	
}

.banner {
  display: flex;
  align-items: center;
}

.search-bar {
  margin-right: 10px;
}

.search-bar input {
  width: 200px;
  padding: 5px;
}

.search-bar button {
  padding: 5px 10px;
}

.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
}

#cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
}

.content{
	background-image: url("../../Pictures/Saved Pictures/WhatsApp Image 2023-05-26 at 18.48.36.jpeg");
}


.content h1{
	font-size: 70px;
	margin-top: 80px;
	text-align: center;
	color: white;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	
}
.content p{
	margin: 20px;
	 font-weight:100;
	line-height: 25px;
	text-align: center;
	color: white;
	
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}






	

	
		




	



	







	


